{% extends 'Chef/base.html' %}
{% load static %}


{% block slider %}
    <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h4>Our Gallery</h4>
                    <a href="#">Home</a>
                    <a class="active" href="gallery.html">Gallery</a>
                </div>
            </div>
        </section>
    <!--================End Banner Area =================-->

    <!--================Our Gallery Area =================-->
        <section class="our_gallery_area">
            <div class="container">
                {% if img_gallery %}
                <div class="row our_gallery_ms_inner">
                    {% for img in img_gallery %}
                    <div class="col-md-4 col-sm-6">
                        <div class="our_gallery_item">
                            <img src="{{ img.gallery_img.url }}" alt="">
                            <div class="our_gallery_hover">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><h5>Kitchen Chef</h5></a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
{#                    <div class="col-md-4 col-sm-6">#}
{#                        <div class="our_gallery_item">#}
{#                            <img src="img/gallery/our-ms-gallery/gallery-ms-2.jpg" alt="">#}
{#                            <div class="our_gallery_hover">#}
{#                                <a href="#"><i class="fa fa-link"></i></a>#}
{#                                <a href="#"><h5>Kitchen Chef</h5></a>#}
{#                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4 col-sm-6">#}
{#                        <div class="our_gallery_item">#}
{#                            <img src="img/gallery/our-ms-gallery/gallery-ms-3.jpg" alt="">#}
{#                            <div class="our_gallery_hover">#}
{#                                <a href="#"><i class="fa fa-link"></i></a>#}
{#                                <a href="#"><h5>Kitchen Chef</h5></a>#}
{#                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4 col-sm-6">#}
{#                        <div class="our_gallery_item">#}
{#                            <img src="img/gallery/our-ms-gallery/gallery-ms-4.jpg" alt="">#}
{#                            <div class="our_gallery_hover">#}
{#                                <a href="#"><i class="fa fa-link"></i></a>#}
{#                                <a href="#"><h5>Kitchen Chef</h5></a>#}
{#                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4 col-sm-6">#}
{#                        <div class="our_gallery_item">#}
{#                            <img src="img/gallery/our-ms-gallery/gallery-ms-5.jpg" alt="">#}
{#                            <div class="our_gallery_hover">#}
{#                                <a href="#"><i class="fa fa-link"></i></a>#}
{#                                <a href="#"><h5>Kitchen Chef</h5></a>#}
{#                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4 col-sm-6">#}
{#                        <div class="our_gallery_item">#}
{#                            <img src="img/gallery/our-ms-gallery/gallery-ms-6.jpg" alt="">#}
{#                            <div class="our_gallery_hover">#}
{#                                <a href="#"><i class="fa fa-link"></i></a>#}
{#                                <a href="#"><h5>Kitchen Chef</h5></a>#}
{#                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4 col-sm-6">#}
{#                        <div class="our_gallery_item">#}
{#                            <img src="img/gallery/our-ms-gallery/gallery-ms-7.jpg" alt="">#}
{#                            <div class="our_gallery_hover">#}
{#                                <a href="#"><i class="fa fa-link"></i></a>#}
{#                                <a href="#"><h5>Kitchen Chef</h5></a>#}
{#                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4 col-sm-6">#}
{#                        <div class="our_gallery_item">#}
{#                            <img src="img/gallery/our-ms-gallery/gallery-ms-8.jpg" alt="">#}
{#                            <div class="our_gallery_hover">#}
{#                                <a href="#"><i class="fa fa-link"></i></a>#}
{#                                <a href="#"><h5>Kitchen Chef</h5></a>#}
{#                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4 col-sm-6">#}
{#                        <div class="our_gallery_item">#}
{#                            <img src="img/gallery/our-ms-gallery/gallery-ms-9.jpg" alt="">#}
{#                            <div class="our_gallery_hover">#}
{#                                <a href="#"><i class="fa fa-link"></i></a>#}
{#                                <a href="#"><h5>Kitchen Chef</h5></a>#}
{#                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            {% endif %}
            </div>
        </section>
        <!--================End Our Gallery Area =================-->


{% endblock slider %}